.top-menu {
  position: relative;
  background-size: cover;
  background: url("img_top.jpg") center / cover;
  padding-bottom: 58%;
  width: 100%;
}

.loginbtn {
  position: absolute;
  bottom: 48%;
  right: 48%;
}
