.top-menu {
  position: relative;
  background-size: cover;
  background: url("img_top.jpg") center / cover;
  padding-bottom: 58%;
  width: 100%;
}

.loginbtn {
  position: absolute;
  bottom: calc(50% - 19px);
  right: calc(50% - 44.2px);
}
